body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #8e9194;
    background-color: #f4f6f9;
}

nav a {
    font-size: 14pt;
}

header img {
    margin-bottom: 5px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

main {
    margin-top: 3%;
    font-size: 14pt;
}


.avatar-xl img {
    width: 110px;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}
.text-muted {
    color: #aeb0b4 !important;
}
.text-muted {
    font-weight: 300;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5154;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eef0f3;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


button {
    margin: 3% 0 3% 0;
    float: right;
}